node_modules
coverage
logs
dist
uploads
templates
bower_components
invoices
estimates
client/bower_components
client/dist/
wiki
.DS_Store
.idea/**
npm-debug.log
**/.DS_Store
**/test/tmp
build
estimates
dump.rdb
.vscode
yarn-error.log
*.orig
*.retry
yarn.lock
data
purchaseOrders
.yarn-cache.tgz
*.swo
*.swp
newrelic_agent.log